<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sina Ahmadi's personal website">
    <meta name="author" content="Sina Ahmadi">
    <meta name="keywords" content="Natural Language Processing, Kurdish, Kurdish language processing, Kurdish-BLARK, Computational Linguistics, less-resourced languages, پاڵاوتنی زمان, زمانی کوردی, تێکنۆلۆژیا بۆ زمان, زانست, سینا ئەحمەدی, پێواژۆکردنی زمانی سروشتی, Doğal dil işleme, traitement automatique du langage naturel, la langue kurde, le traitement automatique du kurde, zimanê kurdî, teknolojiya ji bo zimanê kurdî">
    <meta name="twitter:title" content="Sina Ahmadi's personal website">
    <meta property="og:image" content="https://sinaahmadi.github.io/docs/P_20180307_160121_BF.png">
    <meta property="og:description" content="Sina Ahmadi's personal website">
    <meta property="og:title" content="Sina Ahmadi's personal website">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link rel="meta" type="application/rdf+xml" title="FOAF" href="foaf.rdf" /> 

</head>
