 body {
	font: 85% arial, helvetica, sans-serif;
	margin: 0;
}

h1, h2 {
	margin: 0;
}

#header {
	background: #ccc;
	height: 80px;  
	line-height: 80px;
  	text-align: center;
  	vertical-align: middle;
}

#navigation {
	position: absolute;
	left: 0;
	top: 100px;
	width: 150px;
}


#content {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 150px;
}
